.navbar-logo {
    height: 100px;
}

body {
    background-color: #FFF;
    font-family: Georgia;
}
.body-history {
    background-color: #808080;
    font-family: Georgia;
}

.francais-bleu {
    Background-color: #002654;
}

.francais-blanc {
    Background-color: #FFFFFF;
}

.francais-rouge {
    Background-color: #ce1126;
}

.boxes {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav-text {
    color: #cccccc;
}



.navbar-active {
    color: #FFF;
    text-shadow: 3px 3px 0.125rem #000;
    font-size: 18px;
}


.navbar-nav-text-black{
    color: #000;
}

.navbar-nav-text-black-active{
    color: #000;
    text-shadow: 3px 3px 0.125rem #808080;
    font-size: 18px;
}

.card {
    color: #FFF;
    border-radius: 20px;
}

.card-home{
    background-color: #002654;
}

.btn-outline-light {
    box-shadow: 4px 4px 0.125rem #000;
}
.footer-section{
    color: #FFF;
}
.footer-head {
    text-shadow: 2px 2px 0.125rem #979595;
}

.card-title {
    text-shadow: 3px 3px 0.125rem #000;
    font-size: 35px;
}


.homecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}


.btn-primary {
    position: fixed;
    bottom: 50%;
    right: 10px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    color: #88001b;
    font-size: 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}




#container {
    margin: 50px;
}